button {
    &.is-transparent {
        background-color: transparent;
        color: #fff;
        border: none;
    }

    &.reset-btn {
        position: absolute;
        z-index: 2;
        transform: translateX(-120%);
        padding: 0;
        background-color: transparent;
        border: none;
        font-weight: bold;

        &:hover {
            color: rgb(192, 84, 84);
        }
    }
}
