.App-header {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    animation: fadeInAnimation ease 1s;

    .app-logo {
        width: 20rem;
    }

    .app-subtitle {
        font-weight: 100;
        margin-top: 1rem;
    }
}
