.editor-container {
    position: relative;
    overflow-x: auto;
    text-align: center;

    table {
        margin: auto;
        text-align: center;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid #ddd;
            padding: 10px;

            &.is-borderless {
                border: none;
            }

            &:empty {
                border: 0;
            }
        }
    }

    input {
        font-size: 1rem;
        text-align: center;
        color: white;

        &.is-transparent {
            border: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &.is-title {
            font-weight: 600;
            font-size: calc(10px + 2vmin);
            margin: 1rem 0rem;
        }

        &::placeholder {
            font-style: italic;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}
