.editor-container {
    overflow-x: auto;
    text-align: center;

    table {
        margin: auto;
        text-align: center;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid #ddd;
            border-radius: 100px;
            padding: 10px;
        }

        th:empty {
            border: 0;
        }

        .control-btn-container {
            border: none;
        }
    }
}
