.editor-container {
    overflow-x: auto;
    text-align: center;

    table {
        margin: auto;
        text-align: center;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid #ddd;
            border-radius: 100px;
            padding: 10px;
        }

        th:empty {
            border: 0;
        }

        .control-btn-container {
            border: none;

            .upload-img-btn {
                padding: 0;
                background-color: transparent;
                border: none;

                .placeholder-img {
                    cursor: pointer;
                    inline-size: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    max-width: 2.5rem;
                    max-height: 2.5rem;
                    background-color: gray;
                    padding: 0.3rem 0.3rem;
                    border-radius: 0.2rem;
                }
            }
        }
    }

    input {
        font-size: 1rem;
        text-align: center;

        &.is-transparent {
            color: white;
            border: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &.is-title {
            color: white;
            font-weight: 600;
            font-size: calc(10px + 2vmin);
            margin: 1rem 0rem;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}
